@font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Book'), url('https://res.cloudinary.com/mukn/raw/upload/v1630507408/fonts/AirbnbCerealBook_mo5i7y.woff') format('woff');
}


@font-face {
    font-family: 'Airbnb Cereal App Light';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Light'), url('https://res.cloudinary.com/mukn/raw/upload/v1630507410/fonts/AirbnbCerealLight_arg0x6.woff') format('woff');
}


@font-face {
    font-family: 'Airbnb Cereal App Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Medium'), url('https://res.cloudinary.com/mukn/raw/upload/v1630507409/fonts/AirbnbCerealMedium_owpkyc.woff') format('woff');
}


@font-face {
    font-family: 'Airbnb Cereal App Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Bold'), url('https://res.cloudinary.com/mukn/raw/upload/v1630507408/fonts/AirbnbCerealBold_lgedyl.woff') format('woff');
}


@font-face {
    font-family: 'Airbnb Cereal App Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Extra Bold'), url('https://res.cloudinary.com/mukn/raw/upload/v1630507409/fonts/AirbnbCerealExtraBold_plcf9f.woff') format('woff');
}


@font-face {
    font-family: 'Airbnb Cereal App Black';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Black'), url('https://res.cloudinary.com/mukn/raw/upload/v1630507406/fonts/AirbnbCerealBlack_yzg9uw.woff') format('woff');
}
