<template>
  <div>
    <!-- Sub Menu -->
    <div class="bg-blue-default">
        <div class="container">
            <ul class="px-2 slide-course">
                <carousel :perPageCustom="[[1, 1], [720, 2], [1140, 3], [1320, 4]]" 
                          :navigationEnabled="true" 
                          :paginationEnabled="false" 
                          class="py-3 px-10 flex items-center text-center"
                          navigationPrevLabel="<svg class='w-4 h-4 transform rotate-180 text-white fill-current' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.0297 0L6.51733 1.50738L19.4677 14.5L6.51733 27.4926L8.0297 29L22.4825 14.5L8.0297 0Z'/></svg>"
                          navigationNextLabel="<svg class='w-4 h-4 text-white fill-current' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.0297 0L6.51733 1.50738L19.4677 14.5L6.51733 27.4926L8.0297 29L22.4825 14.5L8.0297 0Z'/></svg>"
                >
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Course Introduction</a></li></slide>
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Install Setup</a></li></slide>
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Stepping into Programming</a></li></slide>
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Functions - An Introduction</a></li></slide>
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Course Introduction</a></li></slide>
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Install Setup</a></li></slide>
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Stepping into Programming</a></li></slide>
                    <slide><li><a href="#" class="text-base text-white font-airbnb-cereal-app-medium">Functions - An Introduction</a></li></slide>
                </carousel>
            </ul>
        </div>
    </div>

    <!-- double elipse -->
    <div class="relative invisible hidden">
        <div class="absolute z-0 invisible hidden transform rotate-180 bg-center bg-no-repeat bg-contain md:visible top-10 -right-16 md:-right-32 lg:-right-52 xl:-right-60 md:w-40 md:h-40 lg:w-60 lg:h-60g xl:w-double-elipse-xl xl:h-double-elipse-xl" style="background-image: url(/images/double-elipse.png);"></div>
    </div>

    <div class="container">
        <!-- Header -->
        <h2 class="mt-12 text-4xl font-airbnb-cereal-app-book text-black-second">Course Name</h2>
        <div class="grid grid-cols-1 gap-20 my-10 lg:grid-cols-12">
            <div class="lg:col-span-3">
                <h4 class="mt-1 text-base underline font-airbnb-cereal-app-bold">Module Content</h4>
                <div class="mt-8 space-y-6">
                    <button class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0C4.48608 0 0 4.48608 0 10C0 15.5139 4.48608 20 10 20C15.5139 20 20 15.5139 20 10C20 4.48608 15.5139 0 10 0ZM8.75 13.75H6.25V6.25H8.75V13.75ZM13.75 13.75H11.25V6.25H13.75V13.75Z" fill="#0677CE"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-medium text-blue-default">Introduction To The Course</span>
                    </button>
                    <a href="#" class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">Remaster in Progress</span>
                    </a>
                    <a href="#" class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">Video Quality</span>
                    </a>
                    <a href="#" class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">How to Get Help</span>
                    </a>
                    <a href="#" class="flex space-x-2">
                       <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">Subtitles</span>
                    </a>
                    <a href="#" class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">Important Tip - Source Code</span>
                    </a>
                    <a href="#" class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">Important Tip - Source Code</span>
                    </a>
                    <a href="#" class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">Important Tip - Source Code</span>
                    </a>
                    <a href="#" class="flex space-x-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 -6.10352e-05C4.48566 -6.10352e-05 0 4.48603 0 9.99994C0 15.5138 4.48566 19.9999 10 19.9999C15.5143 19.9999 20 15.5138 20 9.99994C20 4.48603 15.5143 -6.10352e-05 10 -6.10352e-05ZM13.9754 10.3503L8.14211 14.1003C8.07375 14.1446 7.9948 14.1666 7.91668 14.1666C7.84832 14.1666 7.77914 14.1495 7.7173 14.1158C7.58301 14.0425 7.5 13.9025 7.5 13.7499V6.24994C7.5 6.09736 7.58301 5.95736 7.7173 5.88412C7.84914 5.8117 8.01434 5.81615 8.14211 5.89959L13.9754 9.64959C14.0943 9.72607 14.1667 9.85834 14.1667 9.99994C14.1667 10.1415 14.0943 10.2738 13.9754 10.3503Z" fill="#0677CE" fill-opacity="0.24"/>
                        </svg>
                        <span class="text-sm font-airbnb-cereal-app-light text-black-default">Important Tip - Source Code</span>
                    </a>
                </div>
            </div>
            <div class="lg:col-span-6">
                <div class="flex flex-wrap justify-between space-y-2 sm:space-y-0">
                    <h1 class="text-xl font-airbnb-cereal-app-book"><span class="font-airbnb-cereal-app-bold">Lecture 01/24</span> - Introduction To the Course</h1>
                    <span class="w-32 text-base font-airbnb-cereal-app-bold text-blue-default">Try It Yourself ></span>
                </div>
                <!-- TODO: Video Player Here -->
                <div class="mt-6">
                    <vue-plyr :options="options" ref="plyr">
                        <video controls crossorigin playsinline>
                            <source size="1080" src="https://res.cloudinary.com/mukn/video/upload/v1630507466/videos/video_wztjpl.mp4" type="video/mp4"/>
                            <track id="texttrack" default kind="captions" label="English" src="https://res.cloudinary.com/mukn/raw/upload/v1630507411/captions/english_fjnnbz.vtt" srclang="en"/>
                        </video>
                    </vue-plyr>
                </div>
            </div>
            <div class="lg:col-span-3">
                <div class="flex justify-between">
                    <h4 class="text-base font-airbnb-cereal-app-bold">Transcipt</h4>
                    <button class="text-xs text-blue-default font-airbnb-cereal-app-book">Download Transcript</button>
                </div>
                <div id="transcription_box" class="w-full p-3 mt-6 space-y-3 overflow-y-auto text-sm border shadow-md scrollbar border-gray-50 font-airbnb-cereal-app-book text-black-default" style="max-height: 400px;">
                    <template v-if="cues.length">
                        <p @click="setCurrentTime(cue.startTime)" :class="current == i + 1 ? 'bg-blue-default rounded-sm text-white p-1' : 'opacity-40'" class="p-1 py-1 rounded-sm cursor-pointer hover:bg-blue-second" :id="'cue-' + i" :key="i" v-for="(cue, i) in cues">{{ cue.text }}</p>
                    </template>
                    <span v-else class="text-orange-300 font-airbnb-cereal-app-book">No trascription detected!</span>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-10 lg:gap-20 my-20 lg:grid-cols-3">
            <div class="p-10 space-y-2 rounded-xl bg-below-default flex flex-col lg:items-start items-center">
                <h2 class="text-lg lg:text-xl font-airbnb-cereal-app-bold text-black-second">Video</h2>
                <button class="text-base lg:text-lg text-blue-default font-airbnb-cereal-app-book">Download Video</button>
            </div>
            <div class="p-10 space-y-2 rounded-xl bg-below-default flex flex-col lg:items-start items-center">
                <h2 class="text-lg lg:text-xl font-airbnb-cereal-app-bold text-black-second">Exercise / Quiz</h2>
                <button class="text-base lg:text-lg text-blue-default font-airbnb-cereal-app-book">Start</button>
            </div>
            <div class="p-10 space-y-2 rounded-xl bg-below-default flex flex-col lg:items-start items-center">
                <h2 class="text-lg lg:text-xl font-airbnb-cereal-app-bold text-black-second">Resources</h2>
                <button class="text-base lg:text-lg text-blue-default font-airbnb-cereal-app-book">Download resources.zip</button>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    methods: {
        setCurrentTime(startTime) {
            this.$refs.plyr.player.currentTime = startTime
        }
    },
    data() {
        return {
            cues: {},
            current: 0,
            options: {
                controls: [
                    'play-large', // The large play button in the center
                    'play', // Play/pause playback
                    'progress', // The progress bar and scrubber for playback and buffering
                    'current-time', // The current time of playback
                    'duration', // The full duration of the media
                    'mute', // Toggle mute
                    'volume', // Volume control
                    'captions', // Toggle captions
                    'settings', // Settings menu
                    'airplay', // Airplay (currently Safari only)
                    'fullscreen', // Toggle fullscreen
                ],
                settings: ['captions', 'quality', 'speed', 'loop'],
            },
            scrollOptions: {
                container: '#transcription_box',
                easing: 'ease-in',
                lazy: false,
                offset: -80,
                force: true,
                cancelable: true,
                // eslint-disable-next-line no-unused-vars
                onStart: function(element) {
                // scrolling started
                },
                // eslint-disable-next-line no-unused-vars
                onDone: function(element) {
                // scrolling is done
                },
                onCancel: function() {
                // scrolling has been interrupted
                },
                x: false,
                y: true
            }
        }
    },
    mounted() {
        // Global Variable
        let self = this

        // Texts Track
        let textTrackElem = document.getElementById("texttrack");
        textTrackElem.addEventListener("load", (event) => {
            self.cues = event.target.track.cues
        });

        //  Current Text Track Changed
        textTrackElem.addEventListener("cuechange", (event) => {
            self.current = event.target.track.activeCues;
            self.current = self.current[0].id
            self.$scrollTo("#cue-" + self.current, '500', self.scrollOptions)
        });
    }
}
</script>

<style>
    :root {
        --plyr-color-main: #0677CE;
    }

    .VueCarousel-navigation-button {
        padding: 0 !important;
    }

    .VueCarousel-navigation-button:focus {
        outline: none !important;
    }
</style>