<template>
    <div>
        <!-- Banner -->
        <div class="bg-center bg-no-repeat bg-cover bg-blend-overlay bg-banner">
            <div class="container py-48">
                <h2 class="text-4xl text-white font-airbnb-cereal-app-book">Grow your Programming skills with excellent course</h2>
                <p class="py-4 text-lg text-white font-airbnb-cereal-app-book">Start from Beginner to Pro with free online video courses with new additions published every month</p>
                <form class="max-w-2xl mt-10">
                    <div class="relative text-gray-400 focus-within:text-black-default">
                        <input class="w-full p-6 text-sm border-0 rounded-full focus:ring-0 focus:outline-none font-airbnb-cereal-app-book" type="text" placeholder="What do you want to learn?">
                        <div class="absolute inset-y-0 flex items-center pl-3 right-3">
                            <button class="flex items-center justify-center w-12 h-12 bg-opacity-75 rounded-full bg-blue-default">
                                <svg class="w-5 h-5 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.301 33.3"><g><g><path d="M32.894,30.935l-9.47-9.47a13.206,13.206,0,1,0-1.962,1.962l9.47,9.47a1.387,1.387,0,1,0,1.962-1.962ZM13.181,23.591A10.406,10.406,0,1,1,23.588,13.184,10.417,10.417,0,0,1,13.181,23.591Z" transform="translate(0 -0.003)"/></g></g></svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End -->

        <!-- Courses -->
        <div class="relative">
            <div class="absolute z-0 invisible bg-center bg-no-repeat bg-contain md:visible top-10 -left-16 md:-left-32 lg:-left-52 xl:-left-60 md:w-double-elipse-md md:h-double-elipse-md lg:w-double-elipse-lg lg:h-double-elipse-lg xl:w-double-elipse-xl xl:h-double-elipse-xl bg-elipse"></div>
            <div class="container z-10">
                <div class="flex flex-col py-20">
                    <!-- Header -->
                    <div class="z-10 flex flex-col space-y-4">
                        <a href="#" class="flex items-center space-x-3 group">
                            <svg class="w-8 h-8 transition-opacity duration-300 ease-in-out group-hover:opacity-75" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34 17C34 21.5087 32.2089 25.8327 29.0208 29.0208C25.8327 32.2089 21.5087 34 17 34C12.4913 34 8.1673 32.2089 4.97919 29.0208C1.79107 25.8327 0 21.5087 0 17C0 12.4913 1.79107 8.1673 4.97919 4.97919C8.1673 1.79107 12.4913 0 17 0C21.5087 0 25.8327 1.79107 29.0208 4.97919C32.2089 8.1673 34 12.4913 34 17ZM14.4288 10.8226C14.2699 10.7095 14.0829 10.6423 13.8884 10.6284C13.6939 10.6144 13.4993 10.6543 13.3259 10.7436C13.1525 10.833 13.0071 10.9683 12.9055 11.1348C12.8039 11.3012 12.7501 11.4925 12.75 11.6875V22.3125C12.7501 22.5075 12.8039 22.6988 12.9055 22.8652C13.0071 23.0317 13.1525 23.167 13.3259 23.2564C13.4993 23.3457 13.6939 23.3856 13.8884 23.3716C14.0829 23.3577 14.2699 23.2905 14.4288 23.1774L21.8662 17.8649C22.004 17.7666 22.1162 17.6368 22.1937 17.4864C22.2712 17.336 22.3116 17.1692 22.3116 17C22.3116 16.8308 22.2712 16.664 22.1937 16.5136C22.1162 16.3632 22.004 16.2334 21.8662 16.1351L14.4288 10.8226Z" fill="#6BADDC"/>
                            </svg>
                            <span class="text-base transition-opacity duration-300 ease-in-out text-blue-second font-airbnb-cereal-app-bold group-hover:opacity-75">Overview</span>
                        </a>
                        <div class="block space-y-4">
                            <h2 class="text-4xl font-airbnb-cereal-app-book">Course Name</h2>
                            <p class="text-base text-blue-default font-airbnb-cereal-app-bold">Taught By Adam Smith</p>
                        </div>
                    </div>
                    <!-- Details -->
                    <div class="grid items-start grid-cols-1 gap-20 mt-20 md:grid-cols-2 lg:grid-cols-3">
                        <div class="space-y-7">
                            <h4 class="text-lg font-airbnb-cereal-app-bold text-black-second">Fundamentals</h4>
                            <p class="max-w-xs text-base font-airbnb-cereal-app-light text-black-default">Have a fundamental understanding of the programming language</p>
                        </div>
                        <div class="space-y-7">
                            <h4 class="text-lg font-airbnb-cereal-app-bold text-black-second">Skills</h4>
                            <p class="max-w-xs text-base font-airbnb-cereal-app-light text-black-default">Have the skills and understanding of Programming to confidently apply for programming jobs.</p>
                        </div>
                        <div class="space-y-7">
                            <h4 class="text-lg font-airbnb-cereal-app-bold text-black-second">Concepts</h4>
                            <p class="max-w-xs text-base font-airbnb-cereal-app-light text-black-default">Add the Object-Oriented Programming (OOP) skills to your resume.</p>
                        </div>
                        <div class="space-y-7">
                            <h4 class="text-lg font-airbnb-cereal-app-bold text-black-second">Develop</h4>
                            <p class="max-w-xs text-base font-airbnb-cereal-app-light text-black-default">Understand how to create your own technical programs.</p>
                        </div>
                        <div class="space-y-7">
                            <h4 class="text-lg font-airbnb-cereal-app-bold text-black-second">Implement</h4>
                            <p class="max-w-xs text-base font-airbnb-cereal-app-light text-black-default">Learn Progmramming from experienced professional software developers.</p>
                        </div>
                        <div class="space-y-7">
                            <h4 class="text-lg font-airbnb-cereal-app-bold text-black-second">Professional</h4>
                            <p class="max-w-xs text-base font-airbnb-cereal-app-light text-black-default">Acquire the pre-requisite Programming skills to move into specific branches - Machine Learning, Data Science, etc..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End -->

        <div class="container mb-20">
            <div>
                <h2 class="text-4xl font-airbnb-cereal-app-book text-black-second">Grow your Programming skills with Learn Glow</h2>
                <p class="mt-4 text-base font-airbnb-cereal-app-light text-black-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="relative py-10 mt-10">
                <carousel :perPageCustom="[[1, 1], [720, 2], [1140, 3], [1320, 4]]" paginationActiveColor="#0677CE">
                    <slide>
                        <course-card title="Course Introduction"
                                     img="https://res.cloudinary.com/mukn/image/upload/v1630507409/images/course-intro_i54793.png"
                                     timereads="6 lectures • 14 min"
                                     desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                    </slide>
                    <slide>
                        <course-card title="Install and Setup"
                                     img="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/install-setup_pkxngx.png"
                                     timereads="7 lectures • 30 min"
                                     desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                    </slide>
                    <slide>
                        <course-card title="Stepping into Programming"
                                     img="https://res.cloudinary.com/mukn/image/upload/v1630507411/images/stepping-into-programming_am97de.png"
                                     timereads="16 lectures • 2 hr 14 min"
                                     desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                    </slide>
                    <slide>
                        <course-card title="Functions - An Introduction"
                                     img="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/functions-an-introduction_jft1my.png"
                                     timereads="24 lectures • 4 hr 14 min"
                                     desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                    </slide>
                </carousel>
                <button v-if="false" class="absolute flex items-center justify-center w-10 h-10 rounded-full right-5 top-40 bg-blue-default focus:outline-none z-50">
                    <svg class="w-5 h-5 text-white fill-current ml-1" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.0297 0L6.51733 1.50738L19.4677 14.5L6.51733 27.4926L8.0297 29L22.4825 14.5L8.0297 0Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>


<style>
    .VueCarousel-dot[data-v-438fd353]:focus {
        outline: none !important;
    }
</style>