<template>
    <div class="relative border-t border-b">
        <div class="absolute z-0 hidden bg-center bg-no-repeat bg-contain md:visible top-10 -left-16 md:-left-32 lg:-left-52 xl:-left-60 md:w-double-elipse-md md:h-double-elipse-md lg:w-double-elipse-lg lg:h-double-elipse-lg xl:w-double-elipse-xl xl:h-double-elipse-xl" style="background-image: url(/images/double-elipse.png);"></div>
        <div class="container py-24">
            <h2 class="text-4xl text-center text-black-default font-airbnb-cereal-app-book">Keep Going</h2>
            <p class="mt-4 mb-20 text-lg text-center text-black-default font-airbnb-cereal-app-book">Lorem ipsum dolor sit amet consectetur adipisicing quaerat debitis!</p>

            <div class="grid items-start justify-center grid-cols-1 gap-20 sm:grid-cols-2 lg:grid-cols-4">
                <course-card title="Course Introduction"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507409/images/course-intro_i54793.png"
                    timereads="6 lectures • 14 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                <course-card title="Install and Setup"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/install-setup_pkxngx.png"
                    timereads="7 lectures • 30 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                <course-card title="Stepping into Programming"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507411/images/stepping-into-programming_am97de.png"
                    timereads="16 lectures • 2 hr 14 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                <course-card title="Functions - An Introduction"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/functions-an-introduction_jft1my.png"
                    timereads="24 lectures • 4 hr 14 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                <course-card title="Course Introduction"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507409/images/course-intro_i54793.png"
                    timereads="6 lectures • 14 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                <course-card title="Install and Setup"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/install-setup_pkxngx.png"
                    timereads="7 lectures • 30 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                <course-card title="Stepping into Programming"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507411/images/stepping-into-programming_am97de.png"
                    timereads="16 lectures • 2 hr 14 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
                <course-card title="Functions - An Introduction"
                    img="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/functions-an-introduction_jft1my.png"
                    timereads="24 lectures • 4 hr 14 min"
                    desc="Lorem ipsum dolor sit amet, co nsecte tur adipiscing elit, sed sum dolor sit am et, co nsectetur" />
            </div>

            <div class="flex justify-center mt-20">
                <Pagination class="mx-auto"></Pagination>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>
