<template>
    <div class="py-20">
        <div class="container">
            <header class="flex flex-wrap items-center justify-start space-x-10">
                <div class="flex items-center justify-center w-10 h-10 text-xl text-white rounded-full bg-blue-default font-airbnb-cereal-app-medium">1</div>
                <h2 class="text-2xl xl:text-4xl leading-snug font-airbnb-cereal-app-book">Quiz</h2>
            </header>
            <div class="flex items-center justify-between w-full mt-12 border-b border-black-default">
                <h2 class="py-2 text-base lg:text-2xl font-airbnb-cereal-app-book text-black-default">Functions - An Introduction</h2>
                <span class="text-sm md:text-base text-center font-airbnb-cereal-app-medium text-blue-default">50% - 5 of 10 Correct</span>
            </div>
            <div class="flex flex-col my-10">
                <div class="pb-6 border-b border-black-default border-opacity-40">
                    <h2 class="text-base font-airbnb-cereal-app-medium text-black-default">1. What is a correct syntax to output "Hello World" in Python?</h2>
                    <div class="flex items-center w-full mt-8 space-x-4">
                        <input id="one" type="radio" v-model="form.answer1" value="1" class="rounded-full"/>
                        <label for="one" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer1 == '1'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-4 space-x-4">
                        <input id="two" type="radio" v-model="form.answer1" value="2" class="rounded-full"/>
                        <label for="two" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer1 == '2'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-4 space-x-4">
                        <input id="three" type="radio" v-model="form.answer1" value="3" class="rounded-full"/>
                        <label for="three" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer1 == '3'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-4 space-x-4">
                        <input id="four" type="radio" v-model="form.answer1" value="4" class="rounded-full"/>
                        <label for="four" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer1 == '4'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-6 ml-8 space-x-4">
                        <svg width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0C4.48578 0 0 4.48578 0 10C0 15.5142 4.48578 20 10 20C15.5142 20 20 15.5142 20 10C20 4.48578 15.5142 0 10 0Z" fill="#00BF64"/>
                            <path d="M15.0684 7.88086L9.65164 13.2974C9.48914 13.4599 9.27582 13.5417 9.0625 13.5417C8.84918 13.5417 8.63586 13.4599 8.47336 13.2974L5.76508 10.5891C5.43915 10.2634 5.43915 9.73663 5.76508 9.41086C6.09085 9.08493 6.61743 9.08493 6.94336 9.41086L9.0625 11.53L13.8901 6.70258C14.2159 6.37665 14.7424 6.37665 15.0684 6.70258C15.3941 7.02835 15.3941 7.55493 15.0684 7.88086Z" fill="#FAFAFA"/>
                        </svg>
                        <span class="text-sm text-quiz-green font-airbnb-cereal-app-medium">Correct</span>
                    </div>
                </div>
                <div class="py-6 border-b border-black-default border-opacity-40">
                    <h2 class="text-base font-airbnb-cereal-app-medium text-black-default">2. What is a correct syntax to output "Hello World" in Python?</h2>
                    <div class="flex items-center w-full mt-8 space-x-4">
                        <input id="five" type="radio" v-model="form.answer2" value="5" class="rounded-full"/>
                        <label for="five" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer2 == '5'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-4 space-x-4">
                        <input id="six" type="radio" v-model="form.answer2" value="6" class="rounded-full"/>
                        <label for="six" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer2 == '6'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-4 space-x-4">
                        <input id="seven" type="radio" v-model="form.answer2" value="7" class="rounded-full"/>
                        <label for="seven" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer2 == '7'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-4 space-x-4">
                        <input id="eight" type="radio" v-model="form.answer2" value="8" class="rounded-full"/>
                        <label for="eight" :class="{'bg-quiz-default rounded-md text-blue-default px-2 font-airbnb-cereal-app-medium text-sm py-1': form.answer2 == '8'}">p(“Hello World”)</label>
                    </div>
                    <div class="flex items-center w-full mt-6 ml-8 space-x-4">
                        <svg width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0C4.48578 0 0 4.48578 0 10C0 15.5142 4.48578 20 10 20C15.5142 20 20 15.5142 20 10C20 4.48578 15.5142 0 10 0Z" fill="#FF0021"/>
                            <g clip-path="url(#clip0)">
                                <path d="M6.41369 14C6.30831 14 6.20293 13.9599 6.12287 13.8792C5.96214 13.7185 5.96214 13.4579 6.12287 13.2972L13.2995 6.12055C13.4603 5.95982 13.7209 5.95982 13.8816 6.12055C14.0423 6.28128 14.0423 6.54187 13.8816 6.7027L6.70502 13.8792C6.62435 13.9594 6.51897 14 6.41369 14Z" fill="#FAFAFA"/>
                                <path d="M13.5909 14C13.4855 14 13.3802 13.9599 13.3 13.8792L6.12287 6.7027C5.96214 6.54187 5.96214 6.28128 6.12287 6.12055C6.2836 5.95982 6.54419 5.95982 6.70502 6.12055L13.8816 13.2972C14.0423 13.4579 14.0423 13.7185 13.8816 13.8792C13.8009 13.9594 13.6956 14 13.5909 14Z" fill="#FAFAFA"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="8" height="8" fill="white" transform="translate(6 6)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="text-sm text-quiz-red font-airbnb-cereal-app-medium">Incorrect</span>
                    </div>
                </div>
                <div class="flex justify-end w-full mt-4">
                    <Button class="flex justify-center w-full px-16 py-4 rounded-full lg:w-auto" blue="true" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Finish
                    </Button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                form: {}
            }
        }
    }
</script>
