<template>
  <div v-click-outside="hide" class="relative z-20 w-full rounded-full">
    <div @click="open = !open" class="relative z-10 hidden w-10 h-10 overflow-hidden border-4 border-gray-300 rounded-full cursor-pointer select-none lg:block">
      <img
        class="object-cover w-full h-full rounded-full select-none"
        :src="user.photoURL ? user.photoURL : 'https://res.cloudinary.com/mukn/image/upload/v1630507411/images/user_gilq3t.png'"
        alt="Profile Picture"
      />
    </div>

    <!-- Dropdown -->
    <!-- style="top: 42px; width: 400px;" class="absolute right-0 hidden py-2 mt-4 bg-white rounded-none shadow-md sm:block" -->
    <div
      :class="open ? 'block' : 'lg:hidden'"
      class="w-full py-1 -mt-1 transform bg-white border-gray-100 lg:-mb-2 lg:border lg:rounded-md lg:shadow-md lg:w-80 sm:flex-1 lg:absolute sm:right-0 lg:mt-4 lg:py-2 lg:translate-x-account-dropdown tw-account-dropdown"
    >
      <router-link v-slot="{ href, navigate }" custom :to="{ name: 'profile' }">
        <a :href="href" @click="navigate" style="border: none; width: 100%;">
          <div class="flex items-center justify-start py-2 transition duration-300 ease-in-out rounded-md cursor-pointer lg:px-4 lg:hover:bg-gray-200 lg:mx-1">
            <button class="relative z-10 block w-10 h-10 overflow-hidden border-4 border-gray-300 rounded-full focus:outline-none">
              <img
                class="object-cover w-full h-full rounded-full"
                :src="user.photoURL ? user.photoURL : 'https://res.cloudinary.com/mukn/image/upload/v1630507411/images/user_gilq3t.png'"
                alt="Profile Pricture"
              />
            </button>
            <div class="flex flex-col items-start justify-start pl-3 rounded-md">
              <span class="text-sm antialiased text-gray-500 select-none font-airbnb-cereal-app-book">{{ user.displayName }}</span>
            </div>
          </div>
        </a>
      </router-link>

      <hr class="mx-1 my-2 opacity-75 lg:mx-6" />

      <router-link v-slot="{ href, navigate }" custom :to="{ name: 'settings' }">
        <a :href="href" @click="navigate" style="border: none; width: 100%;">
          <div class="flex items-center justify-start py-2 transition duration-300 ease-in-out rounded-md cursor-pointer lg:px-4 lg:hover:bg-gray-200 lg:mx-1">
            <div class="flex items-center justify-center w-10 h-10 bg-gray-300 rounded-full">
              <svg class="w-4 h-4 text-gray-600 fill-current" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <path
                    d="m262.689 176.286c-2.207-.192-4.431-.286-6.689-.286-44.112 0-80 35.888-80 80s35.888 80 80 80c2.258 0 4.482-.094 6.611-.279 41.187-3.386 73.389-38.4 73.389-79.721s-32.202-76.335-73.311-79.714z"
                  />
                  <path
                    d="m495.594 216.407c-10.58-10.58-24.641-16.407-39.594-16.407h-16.299c-3.606-11.863-8.359-23.331-14.212-34.292l11.534-11.534c21.828-21.828 21.83-57.354.001-79.197-10.573-10.574-24.638-16.397-39.604-16.397-14.959 0-29.02 5.823-39.594 16.396l-11.534 11.534c-10.961-5.852-22.429-10.605-34.292-14.212v-16.298c0-26.523-18.847-49.604-44.851-54.887-3.677-.738-7.428-1.113-11.149-1.113-14.953 0-29.014 5.827-39.595 16.407-10.579 10.58-16.405 24.641-16.405 39.593v16.298c-11.863 3.606-23.331 8.359-34.292 14.212l-11.534-11.534c-21.828-21.828-57.354-21.83-79.198 0-10.573 10.574-16.396 24.639-16.396 39.604 0 14.958 5.823 29.02 16.396 39.594l11.534 11.534c-5.853 10.961-10.605 22.43-14.212 34.292h-16.298c-30.879 0-56 25.122-56 56 0 14.952 5.826 29.013 16.406 39.593s24.641 16.407 39.594 16.407h16.299c3.606 11.863 8.359 23.331 14.212 34.292l-11.534 11.534c-21.828 21.828-21.83 57.354-.001 79.197 10.573 10.573 24.639 16.396 39.604 16.396 14.959 0 29.02-5.823 39.594-16.396l11.534-11.534c10.961 5.853 22.429 10.605 34.292 14.212v16.299c0 30.878 25.121 56 56 56 3.721 0 7.472-.375 11.149-1.113.012-.002.023-.005.035-.007 10.773-2.188 20.597-7.474 28.41-15.287 10.58-10.58 16.406-24.641 16.406-39.593v-16.298c11.863-3.606 23.331-8.359 34.292-14.212l11.534 11.534c10.915 10.915 25.251 16.373 39.594 16.371 14.339-.001 28.684-5.458 39.604-16.372 10.572-10.574 16.396-24.639 16.396-39.604 0-14.958-5.823-29.02-16.396-39.594l-11.534-11.534c5.853-10.961 10.605-22.43 14.212-34.292h16.298c30.879 0 56-25.122 56-56 0-14.951-5.826-29.012-16.406-39.592zm-157.37 115.645c-19.093 20.633-44.987 33.259-72.913 35.555-2.972.259-6.13.394-9.311.394-61.757 0-112-50.243-112-112s50.243-112 112-112c3.181 0 6.339.135 9.389.4 27.848 2.289 53.742 14.915 72.835 35.548 19.201 20.749 29.776 47.759 29.776 76.051s-10.575 55.302-29.776 76.052z"
                  />
                </g>
              </svg>
            </div>
            <span class="pl-3 text-sm text-gray-500 font-airbnb-cereal-app-book">Settings</span>
          </div>
        </a>
      </router-link>

      <hr class="mx-1 my-2 opacity-75 lg:mx-6" />

      <div @click="logout" method="post" as="button" style="border: none; width: 100%;">
        <div class="flex items-center justify-start py-2 transition duration-300 ease-in-out rounded-md cursor-pointer lg:px-4 lg:hover:bg-gray-200 lg:mx-1">
          <div class="flex items-center justify-center w-10 h-10 bg-gray-300 rounded-full">
            <svg class="w-4 h-4 text-gray-600 fill-current" viewBox="0 0 512.00533 512" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m320 277.335938c-11.796875 0-21.332031 9.558593-21.332031 21.332031v85.335937c0 11.753906-9.558594 21.332032-21.335938 21.332032h-64v-320c0-18.21875-11.605469-34.496094-29.054687-40.554688l-6.316406-2.113281h99.371093c11.777344 0 21.335938 9.578125 21.335938 21.335937v64c0 11.773438 9.535156 21.332032 21.332031 21.332032s21.332031-9.558594 21.332031-21.332032v-64c0-35.285156-28.714843-63.99999975-64-63.99999975h-229.332031c-.8125 0-1.492188.36328175-2.28125.46874975-1.027344-.085937-2.007812-.46874975-3.050781-.46874975-23.53125 0-42.667969 19.13281275-42.667969 42.66406275v384c0 18.21875 11.605469 34.496093 29.054688 40.554687l128.386718 42.796875c4.351563 1.34375 8.679688 1.984375 13.226563 1.984375 23.53125 0 42.664062-19.136718 42.664062-42.667968v-21.332032h64c35.285157 0 64-28.714844 64-64v-85.335937c0-11.773438-9.535156-21.332031-21.332031-21.332031zm0 0"
              />
              <path
                d="m505.75 198.253906-85.335938-85.332031c-6.097656-6.101563-15.273437-7.9375-23.25-4.632813-7.957031 3.308594-13.164062 11.09375-13.164062 19.714844v64h-85.332031c-11.777344 0-21.335938 9.554688-21.335938 21.332032 0 11.777343 9.558594 21.332031 21.335938 21.332031h85.332031v64c0 8.621093 5.207031 16.40625 13.164062 19.714843 7.976563 3.304688 17.152344 1.46875 23.25-4.628906l85.335938-85.335937c8.339844-8.339844 8.339844-21.824219 0-30.164063zm0 0"
              />
            </svg>
          </div>
          <span class="pl-3 text-sm text-gray-500 font-airbnb-cereal-app-book">Logout</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'account-dropdown',
  props: {
    user: {
      type: Object,
      require: true
    }
  },
  data() {
    return {
      open: false
    }
  },
  methods: {
    hide() {
      this.open = false
    },
    handleEscape(e) {
      if (e.key === 'Esc' || e.key === 'Escape') {
        this.open = false
      }
    },
    logout() {
      this.$store.dispatch('Authentication/logout')
    }
  },
  created() {
    document.addEventListener('keydown', this.handleEscape)
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.handleEscape)
  }
}
</script>

<style lang="css">
@media screen and (min-width: 1024px) {
  .tw-account-dropdown:before {
    content: '';
    position: absolute;
    top: -6px;
    right: 30px;
    border: 6px solid #fff;
    transform: translateX(-40%) rotate(135deg);
    box-shadow: -2px 2px 2px rgba(50, 50, 50, 0.1);
  }
}
</style>
