<template>
    <a @click.prevent="" :href="href" class="flex flex-col items-center justify-center md:items-start mx-1">
        <img :src="img" class="rounded-2xl w-card-img h-card-img">
        <h2 class="mt-10 text-lg text-center md:text-left text-black-second font-airbnb-cereal-app-bold">{{ title }}</h2>
        <span class="mt-4 text-left text-md text-light">{{ timereads }}</span>
        <p class="max-w-xs mt-4 text-sm text-center md:text-left font-airbnb-cereal-app-light text-black-default">
            {{ desc }}
        </p>
    </a>
</template>

<script>
export default {
    name: "course-card",
    props: {
        href: {
            default: '#',
            type: String,
            required: false
        },
        img: {
            type: String,
            required: true
        },
        title: {
            type: String,
            required: true
        },
        timereads: {
            type: String,
            required: true
        },
        desc: {
            type: String,
            required: true
        }
    }
}
</script>
