<template>
  <div class="relative flex flex-col items-start justify-start w-full h-full bg-black-second">
    <!-- Editor Tab -->
    <div class="flex items-center justify-between pr-6 text-white bg-black-second editor-tab">
        <div>
            <div class="flex items-center px-4 py-2 space-x-3 cursor-default bg-black-default">
                <span class="text-lg font-airbnb-cereal-app-book">index.html</span>
                <div class="p-2 rounded-full hover:bg-gray-900">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.55221 5.00075L9.88535 0.667591C10.0379 0.515033 10.0379 0.26769 9.88535 0.115151C9.73279 -0.0373876 9.48545 -0.0374072 9.33291 0.115151L4.99975 4.44831L0.666615 0.115151C0.514057 -0.0374072 0.266713 -0.0374072 0.114175 0.115151C-0.0383642 0.267709 -0.0383837 0.515053 0.114175 0.667591L4.44731 5.00073L0.114175 9.33388C-0.0383837 9.48644 -0.0383837 9.73378 0.114175 9.88632C0.190444 9.96259 0.290424 10.0007 0.390405 10.0007C0.490385 10.0007 0.590346 9.96259 0.666635 9.88632L4.99975 5.55319L9.33289 9.88632C9.40916 9.96259 9.50914 10.0007 9.60912 10.0007C9.7091 10.0007 9.80906 9.96259 9.88535 9.88632C10.0379 9.73376 10.0379 9.48642 9.88535 9.33388L5.55221 5.00075Z" fill="#ECECEC"/>
                    </svg>
                </div>
            </div>
        </div>

        <button class="focus:outline-none">
            <svg width="18" height="18" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M4.11199 7.8881C3.9948 7.7707 3.80498 7.7707 3.6878 7.8881L0.6 10.9759V9.30009C0.6 9.13429 0.465797 9.00009 0.3 9.00009C0.134203 9.00009 0 9.13429 0 9.30009V11.7001C0 11.8659 0.134203 12.0001 0.3 12.0001H2.7C2.8658 12.0001 3 11.8659 3 11.7001C3 11.5343 2.8658 11.4001 2.7 11.4001H1.0242L4.11199 8.31229C4.2292 8.19508 4.2292 8.00529 4.11199 7.8881Z" fill="#ECECEC"/>
                    <path d="M11.7 0H9.30002C9.13422 0 9.00002 0.134203 9.00002 0.3C9.00002 0.465797 9.13422 0.6 9.30002 0.6H10.9756L7.88802 3.6878C7.77081 3.80501 7.77081 3.9948 7.88802 4.11199C8.00521 4.2292 8.19503 4.2292 8.31222 4.11199L11.4 1.0242V2.7C11.4 2.8658 11.5342 3 11.7 3C11.8658 3 12 2.8658 12 2.7V0.3C12 0.134203 11.8658 0 11.7 0Z" fill="#ECECEC"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="12" height="12" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>

    <!-- Editor Code -->
    <MonacoEditor class="editor" theme="vs-dark" language="html" v-model="content" :options="options"></MonacoEditor>

    <!-- Editor Bar -->
    <div class="flex items-center justify-between pr-6 bg-black-second editor-bar">
        <div class="flex items-center space-x-4 sm:space-x-8">
            <button @click.prevent.stop="runCode" class="flex justify-center px-16 py-3 text-lg text-white transition-colors duration-300 ease-in-out border-0 rounded-none focus:outline-none hover:bg-blue-second font-airbnb-cereal-app-bold bg-blue-default focus:border-0">
                Run
            </button>
            <button class="transition-opacity duration-300 ease-in-out focus:outline-none focus:border-0 hover:opacity-75">
                <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.57141 2.14282H1.28571C0.575633 2.14282 0 2.71846 0 3.42854V10.7142C0 11.4243 0.575633 12 1.28571 12H8.57141C9.2815 12 9.85713 11.4243 9.85713 10.7142V3.42854C9.85713 2.71846 9.2815 2.14282 8.57141 2.14282ZM8.99999 10.7143C8.99999 10.951 8.80812 11.1428 8.57141 11.1428H1.28571C1.04901 11.1428 0.857134 10.951 0.857134 10.7143V3.42854C0.857134 3.19183 1.04901 2.99996 1.28571 2.99996H8.57141C8.80812 2.99996 8.99999 3.19183 8.99999 3.42854V10.7143Z" fill="#ECECEC"/>
                    <path d="M10.7142 0H2.99991C2.28983 0 1.7142 0.575633 1.7142 1.28571C1.7142 1.52242 1.90608 1.71429 2.14278 1.71429C2.37948 1.71429 2.57133 1.52242 2.57133 1.28571C2.57133 1.04901 2.76321 0.857134 2.99991 0.857134H10.7142C10.9509 0.857134 11.1428 1.04901 11.1428 1.28571V8.99999C11.1428 9.2367 10.9509 9.42857 10.7142 9.42857C10.4775 9.42857 10.2856 9.62045 10.2856 9.85715C10.2856 10.0939 10.4775 10.2857 10.7142 10.2857C11.4243 10.2857 11.9999 9.7101 11.9999 9.00002V1.28571C11.9999 0.575633 11.4243 0 10.7142 0Z" fill="#ECECEC"/>
                </svg>
            </button>
            <button class="transition-opacity duration-300 ease-in-out focus:outline-none focus:border-0 hover:opacity-75">
                <svg width="20" height="20" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M11.5738 1.65537C11.316 1.63186 11.088 1.82182 11.0644 2.07963L11.0023 2.76094C9.94861 1.10611 8.11945 0 6.00002 0C3.72 0 1.71068 1.3013 0.713226 3.25439C0.595476 3.48495 0.686929 3.7673 0.917484 3.88505C1.14809 4.0028 1.43039 3.91137 1.54814 3.68079C2.39229 2.02788 4.08745 0.9375 6.00002 0.9375C7.74323 0.9375 9.31641 1.84526 10.2177 3.26737L9.5493 2.79002C9.33862 2.63958 9.04587 2.68837 8.89542 2.89903C8.74498 3.10971 8.79377 3.40245 9.00443 3.55291L11.0312 5.00044C11.3282 5.21219 11.7379 5.01834 11.7704 4.66155L11.998 2.16476C12.0216 1.90692 11.8316 1.67887 11.5738 1.65537Z" fill="#ECECEC"/>
                        <path d="M11.0826 8.11499C10.852 7.99726 10.5697 8.08869 10.4519 8.31924C9.6078 9.97215 7.91264 11.0625 6.00007 11.0625C4.25686 11.0625 2.68368 10.1548 1.78242 8.73266L2.45078 9.21001C2.66146 9.36046 2.9542 9.31166 3.10467 9.101C3.25511 8.89032 3.20632 8.59759 2.99566 8.44712L0.968902 6.99959C0.675488 6.78997 0.262472 6.97801 0.22966 7.33848L0.00205814 9.83528C-0.0214497 10.0931 0.168511 10.3211 0.4263 10.3446C0.684441 10.3681 0.912183 10.178 0.935668 9.92038L0.997777 9.23907C2.05148 10.8939 3.88064 12 6.00007 12C8.28009 12 10.2894 10.6987 11.2869 8.74564C11.4046 8.51509 11.3132 8.23274 11.0826 8.11499Z" fill="#ECECEC"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="12" height="12" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
        <button class="flex items-center ml-4 space-x-4 text-white transition-opacity duration-300 ease-in-out focus:outline-none focus:border-0 hover:opacity-75">
            <svg width="20" height="19" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.406 1.342C5.40548 0.480135 6.68024 0.00413852 8 0C10.69 0 12.923 2 13.166 4.579C14.758 4.804 16 6.137 16 7.773C16 9.569 14.502 11 12.687 11H10C9.86739 11 9.74021 10.9473 9.64645 10.8536C9.55268 10.7598 9.5 10.6326 9.5 10.5C9.5 10.3674 9.55268 10.2402 9.64645 10.1464C9.74021 10.0527 9.86739 10 10 10H12.688C13.979 10 15 8.988 15 7.773C15 6.557 13.98 5.545 12.687 5.545H12.187V5.045C12.188 2.825 10.328 1 8 1C6.91988 1.00431 5.87684 1.39443 5.059 2.1C4.302 2.752 3.906 3.538 3.906 4.155V4.603L3.461 4.652C2.064 4.805 1 5.952 1 7.318C1 8.785 2.23 10 3.781 10H6C6.13261 10 6.25979 10.0527 6.35355 10.1464C6.44732 10.2402 6.5 10.3674 6.5 10.5C6.5 10.6326 6.44732 10.7598 6.35355 10.8536C6.25979 10.9473 6.13261 11 6 11H3.781C1.708 11 0 9.366 0 7.318C0 5.555 1.266 4.095 2.942 3.725C3.085 2.862 3.64 2.002 4.406 1.342Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.646 4.14598C7.69245 4.09941 7.74762 4.06247 7.80837 4.03727C7.86911 4.01206 7.93423 3.99908 8 3.99908C8.06577 3.99908 8.13089 4.01206 8.19163 4.03727C8.25238 4.06247 8.30755 4.09941 8.354 4.14598L11.354 7.14598C11.4479 7.23986 11.5006 7.3672 11.5006 7.49998C11.5006 7.63275 11.4479 7.76009 11.354 7.85398C11.2601 7.94787 11.1328 8.00061 11 8.00061C10.8672 8.00061 10.7399 7.94787 10.646 7.85398L8.5 5.70698V14.5C8.5 14.6326 8.44732 14.7598 8.35355 14.8535C8.25979 14.9473 8.13261 15 8 15C7.86739 15 7.74022 14.9473 7.64645 14.8535C7.55268 14.7598 7.5 14.6326 7.5 14.5V5.70698L5.354 7.85398C5.26011 7.94787 5.13278 8.00061 5 8.00061C4.86722 8.00061 4.73989 7.94787 4.646 7.85398C4.55211 7.76009 4.49937 7.63275 4.49937 7.49998C4.49937 7.3672 4.55211 7.23986 4.646 7.14598L7.646 4.14598Z" fill="white"/>
            </svg>
            <div class="invisible hidden xl:visible xl:inline">Upload File</div>
        </button>
    </div>
  </div>
</template>

<script>
import MonacoEditor from 'monaco-editor-vue';
export default {
    name: "editor",
    components: {
        MonacoEditor
    },
    data() {
        return {
            content: 
`<html>
    <head>
        <meta charset="UTF-8">
        <title>Page Preview</title>
    </head>
    <body>
        <h1>Hello World</h1>
    </body>
</html>`,
            options: {}
        }
    },
    methods: {
        runCode() {
            this.$emit('run', this.content)
        }
    }
}
</script>

<style>
    .editor {
        min-height: 600px;
        height: 100%;
        width: 100%;
        outline: none;
        overflow: hidden;
        user-select: text;
    }

    .editor-tab {
        width: 100%;
        overflow: hidden;
    }

    .editor-bar {
        color: #fff;
        width: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
    }
</style>
