<template>
    <div @click.prevent="open = !open" class="w-full px-8 py-6 space-y-6 transition-all duration-200 ease-in-out cursor-pointer" :class="{'bg-below-default': open}">
        <div class="flex items-center justify-between">
            <h2 class="text-sm md:text-md lg:text-lg font-airbnb-cereal-app-bold text-black-default">{{ title }}</h2>
            <div class="ml-10">
                <svg :class="open ? 'rotate-0' : 'rotate-180'" class="transition-all duration-200 ease-in-out transform cursor-pointer" width="16" height="11" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 7.80591L7 1.00234L1 7.80591" stroke="#0677CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <p :class="open ? 'block' : 'hidden'" class="text-sm transition-all duration-200 ease-in-out font-airbnb-cereal-app-light text-black-default">{{ content }}</p>
    </div>
</template>

<script>
    export default {
        name: 'faq-card',
        props: {
            title: {
                type: String,
                required: true
            },
            content: {
                type: String,
                required: true
            }
        },
        data () {
            return {
                open: false
            }
        }
    }
</script>
