 <template>
    <div class="py-20 border-t border-b">
        <div class="container">
            <header class="flex flex-wrap items-center justify-between">
                <h2 class="text-4xl leading-snug font-airbnb-cereal-app-book">How Does <span class="text-blue-default">Learn Glow</span> Work ? FAQs</h2>
                <form class="w-full mt-12 lg:w-auto lg:max-w-2xl lg:mt-0">
                    <div class="relative text-gray-400 focus-within:text-black-default">
                        <input class="w-full py-4 pl-6 text-sm border rounded-full shadow-md border-gray-50 focus:border-gray-50 pr-14 lg:w-72 focus:ring-0 focus:outline-none text-black-default font-airbnb-cereal-app-book" type="text" placeholder="Search Here">
                        <div class="absolute inset-y-0 flex items-center pl-3 right-3">
                            <button class="flex items-center justify-center w-8 h-8 bg-opacity-75 rounded-full bg-blue-default">
                                <svg class="w-4 h-4 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.301 33.3"><g><g><path d="M32.894,30.935l-9.47-9.47a13.206,13.206,0,1,0-1.962,1.962l9.47,9.47a1.387,1.387,0,1,0,1.962-1.962ZM13.181,23.591A10.406,10.406,0,1,1,23.588,13.184,10.417,10.417,0,0,1,13.181,23.591Z" transform="translate(0 -0.003)"/></g></g></svg>
                            </button>
                        </div>
                    </div>
                </form>
            </header>

            <section class="grid grid-cols-1 gap-20 mt-20 lg:grid-cols-3">
                <div class="w-full px-8 py-6 rounded-xl text-black-default bg-below-default">
                    <h2 class="text-2xl font-airbnb-cereal-app-book text-black-second">Support</h2>
                    <ul class="mt-6 space-y-1 text-opacity-60 text-black-second font-airbnb-cereal-app-book">
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Contact Us</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Live Chat</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Launch a complaint</a></li>
                    </ul>
                </div>
                <div class="w-full px-8 py-6 rounded-xl text-black-default bg-below-default">
                    <h2 class="text-2xl font-airbnb-cereal-app-book text-black-second">About The Course</h2>
                    <ul class="mt-6 space-y-1 text-opacity-60 text-black-second font-airbnb-cereal-app-book">
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Content</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Teaching style</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Leading to industry</a></li>
                    </ul>
                </div>
                <div class="w-full px-8 py-6 rounded-xl text-black-default bg-below-default">
                    <h2 class="text-2xl font-airbnb-cereal-app-book text-black-second">Our Professionalism</h2>
                    <ul class="mt-6 space-y-1 text-opacity-60 text-black-second font-airbnb-cereal-app-book">
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Why free?</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">24/7 Uptime</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Instructors</a></li>
                    </ul>
                </div>
                <div class="w-full px-8 py-6 rounded-xl text-black-default bg-below-default">
                    <h2 class="text-2xl font-airbnb-cereal-app-book text-black-second">Account Actions</h2>
                    <ul class="mt-6 space-y-1 text-opacity-60 text-black-second font-airbnb-cereal-app-book">
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Account Deletion</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Settings</a></li>
                    </ul>
                </div>
                <div class="w-full px-8 py-6 rounded-xl text-black-default bg-below-default">
                    <h2 class="text-2xl font-airbnb-cereal-app-book text-black-second">Workspace Issues</h2>
                    <ul class="mt-6 space-y-1 text-opacity-60 text-black-second font-airbnb-cereal-app-book">
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Creating a Workspace</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Debugging</a></li>
                    </ul>
                </div>
                <div class="w-full px-8 py-6 rounded-xl text-black-default bg-below-default">
                    <h2 class="text-2xl font-airbnb-cereal-app-book text-black-second">Community</h2>
                    <ul class="mt-6 space-y-1 text-opacity-60 text-black-second font-airbnb-cereal-app-book">
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Forum</a></li>
                        <li><a href="#" class="transition-all duration-200 ease-in-out hover:text-black-default">Youtube</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    export default {}
</script>
