<template>
    <div class="py-20 border-t border-b">
        <div class="container">
            <header class="flex flex-wrap items-center justify-between">
                <h2 class="text-4xl leading-snug font-airbnb-cereal-app-book">How Does <span class="text-blue-default">Learn Glow</span> Work ? FAQs</h2>
                <form class="w-full mt-12 lg:w-auto lg:max-w-2xl lg:mt-0">
                    <div class="relative text-gray-400 focus-within:text-black-default">
                        <input class="w-full py-4 pl-6 text-sm border rounded-full shadow-md border-gray-50 focus:border-gray-50 pr-14 lg:w-72 focus:ring-0 focus:outline-none text-black-default font-airbnb-cereal-app-book" type="text" placeholder="Search Here">
                        <div class="absolute inset-y-0 flex items-center pl-3 right-3">
                            <button class="flex items-center justify-center w-8 h-8 bg-opacity-75 rounded-full bg-blue-default">
                                <svg class="w-4 h-4 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.301 33.3"><g><g><path d="M32.894,30.935l-9.47-9.47a13.206,13.206,0,1,0-1.962,1.962l9.47,9.47a1.387,1.387,0,1,0,1.962-1.962ZM13.181,23.591A10.406,10.406,0,1,1,23.588,13.184,10.417,10.417,0,0,1,13.181,23.591Z" transform="translate(0 -0.003)"/></g></g></svg>
                            </button>
                        </div>
                    </div>
                </form>
            </header>

            <section class="mt-20 space-y-4 max-w-7xl">
                <faq-card title="1 . What is the meaning of Lorem ipsum?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="2 . Why is Lorem Ipsum Dolor used?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="3 . What is the most used version?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="4 . What are the origins of Lorem Ipsum Dolor Sit?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="5 . What is the original text of Lorem Ipsum Dolor Sit Amet?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="6 . What are the origins of Lorem Ipsum Dolor Sit?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="7 . What is the meaning of Lorem ipsum?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="8 . Why is Lorem Ipsum Dolor used?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
                <faq-card title="9 . What is the original text of Lorem Ipsum Dolor Sit Amet?"
                        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore iscing elit, sed do eiusmod tempor" />
            </section>
        </div>
    </div>
</template>

<script>
    export default {}
</script>
