<template>
    <footer class="absolute w-full bg-footer-default z-2">
        <div class="container py-10">
            <div class="grid grid-cols-1 gap-2 md:gap-10 sm:grid-cols-2 lg:grid-cols-4">
                <div class="flex flex-col space-y-4">
                    <img class="w-48" src="https://res.cloudinary.com/mukn/image/upload/v1630507411/images/LOGO_lplxtz.png" />
                    <p class="w-56 text-base text-footer-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis velit eius tempore, dicta maxime, saepe fuga dolor quibusdam.</p>
                </div>
                <div class="space-y-6 mt-14">
                    <h2 class="text-blue-default font-airbnb-cereal-app-medium">Important</h2>
                    <ul class="space-y-4 text-black-default font-airbnb-cereal-app-light">
                        <router-link v-slot="{ href, navigate }" custom :to="{name: 'modules'}" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                            <li><a :href="href" @click="navigate">Modules</a></li>
                        </router-link>
                        <li><a href="#" class="transition-opacity duration-300 ease-in-out hover:opacity-75">Blog</a></li>
                        <router-link v-slot="{ href, navigate }" custom :to="{name: 'faqs.index'}" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                            <li><a :href="href" @click="navigate">Faqs</a></li>
                        </router-link>
                    </ul>
                </div>
                <div class="space-y-6 mt-14">
                    <h2 class="text-blue-default font-airbnb-cereal-app-medium">Privacy Policy</h2>
                    <ul class="space-y-4 text-black-default font-airbnb-cereal-app-light">
                        <router-link v-slot="{ href, navigate }" custom :to="{name: 'privacy-policy'}" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                            <li><a :href="href" @click="navigate">Privacy Policy</a></li>
                        </router-link>
                        <router-link v-slot="{ href, navigate }" custom :to="{name: 'terms-conditions'}" class="transition-opacity duration-300 ease-in-out hover:opacity-75">
                            <li><a :href="href" @click="navigate">Terms & Conditions</a></li>
                        </router-link>
                    </ul>
                </div>
                <div class="space-y-6 mt-14">
                    <h2 class="text-blue-default font-airbnb-cereal-app-medium">Contact</h2>
                    <ul class="space-y-4 text-black-default font-airbnb-cereal-app-light">
                        <li><span>info@learnglow.com</span></li>
                        <li><span>+44 xxx xxxx xxxx</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-full py-3 text-sm text-center bg-white sm:text-base text-black-default">
            All Rights Reserved 2021.
        </div>
    </footer>
</template>

<script>
export default {}
</script>
