<template>
    <footer class="absolute w-full bg-footer-default z-2" style="height: 48px;">
        <div class="w-full py-3 text-sm text-center sm:text-base text-black-default">
            All Rights Reserved 2021.
        </div>
    </footer>
</template>

<script>
export default {}
</script>
