<template>
  <div>
    <nav class="flex flex-col justify-center lg:py-6 min-h-navbar max-h-navbar bg-black-second">
      <div class="container relative flex items-center justify-between">
        <router-link :to="{ name: 'home' }">
          <img class="h-16" src="https://res.cloudinary.com/mukn/image/upload/v1630507410/images/LOGO2_sbyalv.png" />
        </router-link>
        <h2 class="absolute hidden ml-10 text-sm text-white lg:sticky md:nor lg:ml-0 sm:block left-1/3 font-airbnb-cereal-app-medium">Welcome to Learn Glow</h2>
        <ul class="items-center hidden space-x-10 text-base lg:flex text-white">
          <li><router-link :to="{ name: 'home' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Home</router-link></li>
          <li><router-link :to="{ name: 'modules' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Modules</router-link></li>
          <li><router-link :to="{ name: 'courses' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Courses</router-link></li>
        </ul>
        <div class="lg:hidden">
          <div class="relative w-10 h-10 text-gray-800 cursor-pointer" @click.prevent="toggle">
            <div class="absolute block w-5 transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
              <span aria-hidden="true" class="bg-gray-400 block absolute h-0.5 w-8 bg-current transform transition duration-300 ease-in-out" :class="{ 'rotate-45': open, ' -translate-y-2': !open }"></span>
              <span aria-hidden="true" class="bg-gray-400 block absolute  h-0.5 w-8 bg-current transform transition duration-300 ease-in-out" :class="{ 'opacity-0': open }"></span>
              <span aria-hidden="true" class="bg-gray-400 block absolute  h-0.5 w-8 bg-current transform  transition duration-300 ease-in-out" :class="{ '-rotate-45': open, ' translate-y-2': !open }"></span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="border-b lg:hidden">
      <div class="container hidden pb-6" id="menu-responsive">
        <ul class="flex flex-col space-y-6 text-base text-black-default pt-4">
          <li><router-link :to="{ name: 'home' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Home</router-link></li>
          <li><router-link :to="{ name: 'modules' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Modules</router-link></li>
          <li><router-link :to="{ name: 'courses' }" class="transition-opacity duration-200 ease-in-out hover:opacity-75">Courses</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      open: false
    }
  },
  computed: {
    ...mapGetters('Authentication', ['user'])
  },
  methods: {
    toggle() {
      let menu = window.$('#menu-responsive')
      menu.clearQueue()
      menu.stop()

      // Slide & change open value
      menu.slideToggle(400)
      this.open = !this.open
    }
  }
}
</script>
