<template>
  <div class="w-full bg-gray-100 border-t border-b">
    <div class="max-w-xs max-h-screen py-40 mx-auto">
      <div class="px-4 py-6 bg-white border border-gray-200 rounded-md shadow-sm">
        <div class="flex items-center py-4 space-x-2">
          <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M28 4H12C11.4696 4 10.9609 4.21071 10.5858 4.58579C10.2107 4.96086 10 5.46957 10 6V13H18.5L15.12 9.71C14.9562 9.5187 14.8706 9.27262 14.8803 9.02095C14.89 8.76927 14.9943 8.53053 15.1724 8.35244C15.3505 8.17434 15.5893 8.07001 15.8409 8.06029C16.0926 8.05057 16.3387 8.13617 16.53 8.3L22.32 14.09L16.53 19.88C16.3387 20.0438 16.0926 20.1294 15.8409 20.1197C15.5893 20.11 15.3505 20.0057 15.1724 19.8276C14.9943 19.6495 14.89 19.4107 14.8803 19.1591C14.8706 18.9074 14.9562 18.6613 15.12 18.47L18.5 15H10V30C10 30.5304 10.2107 31.0391 10.5858 31.4142C10.9609 31.7893 11.4696 32 12 32H28C28.5304 32 29.0391 31.7893 29.4142 31.4142C29.7893 31.0391 30 30.5304 30 30V6C30 5.46957 29.7893 4.96086 29.4142 4.58579C29.0391 4.21071 28.5304 4 28 4Z"
              fill="#0677CE"
            />
            <path d="M10 13H4C3.73478 13 3.48043 13.1054 3.29289 13.2929C3.10536 13.4804 3 13.7348 3 14C3 14.2652 3.10536 14.5196 3.29289 14.7071C3.48043 14.8946 3.73478 15 4 15H10V13Z" fill="#0677CE" />
          </svg>
          <h2 class="text-2xl text-blue-default font-airbnb-cereal-app-bold">Login To Glow</h2>
        </div>

        <ul class="my-3 list-disc list-inside text-sm text-red-600">
          <li v-for="(error, key) in errors" :key="key">{{ error }}</li>
        </ul>

        <form @submit.prevent="login">
          <div>
            <Label for="email" value="Email Address" />
            <input
              id="email"
              type="email"
              class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default"
              v-model="form.email"
              required
              autocomplete="email"
            />
          </div>

          <div class="mt-4">
            <Label for="password" value="Password" />
            <input
              id="password"
              type="password"
              class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-second focus:ring-1 focus:ring-blue-default"
              v-model="form.password"
              required
              autocomplete="current-password"
            />
          </div>

          <div class="block mt-4">
            <label class="flex items-center">
              <input
                type="checkbox"
                name="remember"
                v-model="form.remember"
                class="border-gray-300 rounded shadow-sm text-blue-default focus:border-blue-default focus:ring focus:ring-blue-second focus:ring-opacity-50"
              />
              <span class="ml-2 text-sm text-black-default">Remember me</span>
            </label>
          </div>

          <div class="flex items-center justify-between mt-4">
            <router-link v-if="!user" v-slot="{ href, navigate }" custom :to="{ name: 'forgot' }">
              <a :href="href" @click="navigate" class="text-sm text-black-default text-opacity-60 hover:text-opacity-100 font-airbnb-cereal-app-book">Forgot Password?</a>
            </router-link>
            <router-link v-if="!user" v-slot="{ href, navigate }" custom :to="{ name: 'register' }">
              <a :href="href" @click="navigate" class="text-sm text-black-default text-opacity-60 hover:text-opacity-100 font-airbnb-cereal-app-book">Register</a>
            </router-link>
          </div>

          <div class="mt-4">
            <Button class="flex justify-center w-full py-3" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
              Log in
            </Button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        password: '',
        remember: false,
        processing: false
      },
      errors: []
    }
  },
  methods: {
    checkForm() {
      // clear errors.
      this.errors = []

      if (!this.form.email) this.errors.push('Your email address is required!')
      else if (!this.validEmail(this.form.email)) this.errors.push('Your email address is not valid.')
      if (!this.errors.length) return true

      if (!this.form.password) {
        this.errors.push('Your password is required!')
      }

      if (!this.errors.length) {
        return true
      }
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    async login() {
      if (this.checkForm()) {
        await this.$store.dispatch('Authentication/login', this.form)
      }
    }
  }
}
</script>
